.style_Item:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 2px 1px 2px 3px orange;
}
.style_Item:hover .showInCSS {
  display: block;
}
.bg {
  background-image: url("../../images/Evangadi_Bg_image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a:hover {
  border-radius: 3px;
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}
a:hover img {
  transform: translateY(-1.1rem);
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}
